html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Akaya Telivigala', cursive;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    line-height: 2;
}
#app{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    /* gap: 5px; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.user-card{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    max-height: 250px;
    margin: auto;

}